// scrollTop
.scrollToTop {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: url(../images/scrolltop_bg01.png) no-repeat 22px 24px rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  line-height: 66px;
  text-decoration: none;
  position: fixed;
  bottom: 60px;
  right: calc(50% - 560px);
  transition: 0.3s ease-out;
  display: none;
  z-index: 9999;
  text-indent: -999999px;
  @media (max-width: 1200px) {
    right: 40px;
  }
  @include screen('tablet') {
    right: 50px;
  }
  @include screen('xs_mobile') {
    right: 30px;
  }
  &:before {
    content: '';
    width: 1px;
    height: 42px;
    background-color: #9e9e9e;
    position: absolute;
    right: calc(50% - 2px);
    bottom: 0;
  }
  &:after {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #9e9e9e;
    position: absolute;
    right: calc(50% - 2px);
    bottom: -20px;
  }

  &:hover,
  &:focus-visible {
    background-color: #000;
  }
}

//元素對齊 align
// .align-left{
//   text-align: left;
// }
// .align-center{
//   text-align: center;
// }
// .align-right{
//   text-align: right;
// }
// .align-top{
//   vertical-align: top;
// }
// .align-middle{
//   vertical-align: middle;
// }
// .align-bottom{
//   vertical-align: bottom;
// }
// .align-baseline{
//   vertical-align: baseline;
// }

// $fileTypePic: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other ;

// @each $fileTypePic in $fileTypePic {
//   a.file_#{$fileTypePic} {
//     background: url(../images/basic/icon_#{$fileTypePic}.png) no-repeat center center;
//     width: 26px;
//     height: 28px;
//     font-size: 0;
//     overflow: hidden;
//     vertical-align: middle;
//     background-size: contain;
//   }
// }
