.innercontent {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 26px 0px;
  padding: 30px;
  box-sizing: border-box;
  .searchgroup {
    box-shadow: none;
    background-color: #fff;
  }
}
// 瀏覽模式
.browseMode {
  margin-bottom: 2em;
  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-left: 8px;
      a {
        display: block;
        padding: 0.5em 1em;
        background-color: $aCutover;
        color: #fff;
        transition: 0.5s;
        &.active {
          background-color: $primaryColor;
          color: #fff;
        }
        &:hover {
          text-decoration: none;
          background-color: darken($color: $color-gray, $amount: 10);
        }
      }
    }
  }
}
// 報刊項目
.newspaperProject {
  margin-bottom: 2em;
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      flex: 0 0 auto;
      margin-right: 1em;
      margin-bottom: 1em;
      background-color: #fff;
      background-image: linear-gradient(to top, #e3e3e3, #fff);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      @include screen('tablet') {
        flex: 1 1 auto;
      }
      @include screen('xs_mobile') {
        flex: 1 1 auto;
        flex-basis: 100%;
        max-width: 100%;
        margin-right: 0;
      }
      &:hover {
        text-decoration: none;
        background-image: linear-gradient(to top, #e3e7c0, #fff);
      }
      &.active {
        background-image: linear-gradient(to top, #e3e7c0, #fff);
        a {
          .newstitle {
            color: darken($color: $primaryColor, $amount: 5);
          }
          .issue_period {
            span {
              color: darken($color: $primaryColor, $amount: 5);
            }
          }
        }
      }
      a {
        display: block;
        text-align: center;
        position: relative;
        padding: 10px 25px 10px;
        .newstitle {
          font-size: 1.562rem;
          font-family: $fontFamilymptitle;
          color: #7a7a7a;
          margin: 0 0 10px;
          line-height: 1.2em;
        }
        .issue_period {
          span {
            color: #7a7a7a;
            padding: 0px 10px;
            margin: 0;
            font-size: 1rem;
            display: inline-block;
          }
        }
        &:hover {
          .newstitle {
            color: darken($color: $primaryColor, $amount: 5);
          }
          .issue_period {
            span {
              color: darken($color: $primaryColor, $amount: 5);
            }
          }
        }
      }
    }
  }
}
// 時間
.timeblock {
  .timelist {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #eee;
    margin-bottom: 2em;
    .years {
      font-size: 1.25rem;
      margin-bottom: 1em;
      font-weight: bolder;
      color: #282727;
      span {
        font-size: 1.875rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin-right: 8px;
        margin-bottom: 8px;
        a {
          display: block;
          padding: 0.4em 1.6em;
          background-color: $aCutover;
          color: #fff;
          border-radius: 2px;
          &:hover,
          &.active {
            text-decoration: none;
            background-color: $primaryColor;
            color: #fff;
          }
        }
      }
    }
  }
}

// qa
.listqaBlock {
  padding: 0;
  display: block;
  .listqa {
    font-size: 1.125rem;
    position: relative;
    padding: 1.5em 1.5em 1.5em 3em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    // border-radius: 10px;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // background-color: #fff;
    .num {
      position: absolute;
      left: 0;
      width: 2em;
      text-align: right;
      color: $primaryColor;
      font-weight: bolder;
    }
    .title {
      font-size: 1.25rem;
      font-weight: bolder;
      margin-bottom: 1em;
      color: $primaryColor;
    }
    .content {
      line-height: 1.6;
      margin: 0;
    }
  }
}
// 檢索查詢按鈕
.searchquery_btn {
  button {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none !important;
    padding: 0.5em;
    color: #fff !important;
    background: $primaryColor !important;
    &.close {
      span {
        background-image: url('../images/retrieve_del2.png');
      }
    }
    span {
      padding: 0 0 0 30px;
      background-image: url('../images/retrieve_add2.png');
      background-repeat: no-repeat;
      background-position: 0 center;
      font-size: 1.125em;
    }
  }
  + .searchgroup {
    display: none;
    background-color: #f8f8f4;
  }
}
// 檢索結果
.searchresults_block {
  display: flex;
  position: relative;
  margin-bottom: 2em;
  .narrowquery_btn {
    display: none;
    position: absolute;
    left: -80px;
    top: 0;
    z-index: 3;
    width: 1.5em;
    @include screen('tablet') {
      display: block;
    }
    @include screen('xs_mobile') {
      left: -60px;
    }
    a {
      color: #fff;
      display: block;
      background-color: $primaryColor;
      padding: 2em 0.5em 0.5em;
      border-radius: 0 5px 5px 0;
      width: 2em;
      position: relative;
      &:before {
        content: '';
        border: 2px solid #fff;
        border-right: none;
        border-bottom: none;
        transform: rotate(135deg);
        position: absolute;
        top: 0.8em;
        left: 0.6em;
        width: 8px;
        height: 8px;
      }
      &.open {
        &:before {
          left: 0.8em;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .leftblock {
    flex: 0 0 auto;
    flex-basis: 250px;
    max-width: 250px;
    margin-right: 1em;
    @include screen('tablet') {
      position: absolute;
      left: calc(-250px - 80px);
      top: 0;
      bottom: 0;
      width: 240px;
      transition: 0.5s;
      z-index: 2;
      &.open {
        left: -30px;
      }
    }
    @include screen('xs_mobile') {
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;
      left: calc(-100% - 60px);
      margin-right: 0;
      &.open {
        left: 0em;
      }
    }
    .sortlist {
      background-color: #f8f8f4;
      padding-bottom: 0.5em;
      .sort_title {
        background-color: $primaryColor;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
      .content {
        padding: 1em 1em 0.5em;
        .sectitle {
          color: $primaryColor;
          font-weight: bolder;
          font-size: 1.063rem;
          margin-bottom: 8px;
          background-color: darken($color: #f8f8f4, $amount: 10);
          padding: 0.2em 0.5em;
        }
        p {
          line-height: 1.5;
          padding: 0;
          margin: 0 0 10px;
        }
        .condition {
          border: 1px solid #ddd;
          border-radius: 5px;
          background-color: #fff;
          padding: 6px 30px 6px 10px;
          position: relative;
          margin-bottom: 10px;
          @include text-overflow;
          button {
            display: inline-block;
            padding: 0;
            font-size: 0;
            background-image: url('../images/icon/icon_close.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 18px;
            position: absolute;
            right: 8px;
            top: 10px;
            width: 18px;
            height: 18px;
            border: none;
          }
        }
      }
      ul {
        margin: 1em 1em 0.5em;
        padding: 0;
        list-style-type: none;
        li {
          a {
            display: block;
            padding: 5px 0;

            span {
              margin-left: 5px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
          &:nth-child(n + 6) {
            display: none;
          }
        }
      }
      .more {
        margin: 0 1em 0.5em;
        justify-content: flex-start;
        a {
          display: block;
          color: $primaryColor;
          position: relative;
          padding: 0.4em 1.5em 0.4em 0;
          text-align: left;
          transition: 0.5s;
          font-size: 1rem;
          &.close {
            padding-right: 30px;
            &:after {
              transform: rotate(-45deg);
              top: 9px;
              right: 10px;
            }
          }
          &:before {
            display: none;
          }
          &:after {
            content: '';
            width: 8px;
            height: 8px;
            border: 2px solid $primaryColor;
            border-bottom: none;
            border-left: none;
            transform: rotate(135deg);
            position: absolute;
            right: 0;
            top: 5px;
            transition: 0.2s;
            background-image: none;
          }
          &:hover {
            text-decoration: none;
            // padding-right: 40px;
            // &:before {
            //   width: 30px;
            // }
          }
        }
      }
      .otherbtn {
        width: 100%;
        padding: 0.3em 1.25em;
      }
      .feedbtn {
        padding: 0.3em 2.125em 0.3em 1em;
        // width: 100px;
        margin: 0 auto;
        display: block;
        position: relative;
        &:before {
          content: '';
          border: 2px solid #fff;
          width: 8px;
          height: 8px;
          border-left: none;
          border-bottom: none;
          position: absolute;
          right: 15px;
          top: 12px;
          transform: rotate(45deg);
          transition: 0.5s;
        }
        &:hover {
          &:before {
            right: 12px;
          }
        }
      }
    }
  }
  .rightblock {
    flex: 1 1 auto;
    // 結果
    .resultlist_group {
      // 全選
      .selectall {
        display: flex;
        padding: 0 1em;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.5em;
        align-items: center;
        background-color: #fff;
        @include screen('xs_mobile') {
          flex-wrap: wrap;
          padding: 0;
        }
        .project_options {
          flex: 0 0 auto;
          flex-basis: 130px;
          max-width: 130px;
          @include screen('xs_mobile') {
            flex-basis: 100%;
            max-width: 100%;
            margin-bottom: 0.5em;
          }
          label {
            display: flex;
            align-items: center;
            input {
              margin-right: 0.5em;
            }
          }
        }
        .resultcontent {
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @include screen('xs_mobile') {
            padding-left: 0.5em;
          }
          @media (max-width: 370px) {
            display: block;
            button.btn-submit {
              float: right;
            }
          }
          .checkedword {
            margin-right: 0.5em;
            display: flex;
            align-items: center;
            em {
              font-style: normal;
              color: #c33c00;
              font-size: 1.25rem;
              padding: 0 0.5em;
            }
            button {
              &.btn {
                padding: 0.3em 0.6em;
                margin: 0.3em 0.1em 0.3em 0.5em;
                min-width: auto;
              }
            }
          }
          button.btn-submit {
            padding-left: 0.8em;
            padding-right: 0.8em;
          }
        }
      }
      // 結果條列
      .resultlist {
        display: flex;
        padding: 0.5em 1em 1em;
        border-bottom: 1px solid #ccc;
        margin-bottom: 0.5em;
        background-color: #fff;
        @include screen('xs_mobile') {
          flex-wrap: wrap;
          padding: 0.5em 0em 1em 0;
        }
        .project_options {
          flex: 0 0 auto;
          flex-basis: 80px;
          max-width: 80px;
          @include screen('xs_mobile') {
            flex-basis: 100%;
            max-width: 100%;
            margin-bottom: 0.5em;
          }
          label {
            display: flex;
            align-items: center;
            input {
              margin-right: 0.5em;
            }
          }
        }
        .resultcontent {
          flex: 1 1 auto;
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
              margin-bottom: 0.5em;
              padding-left: 120px;
              display: flex;

              span.title {
                flex: 0 0 auto;
                flex-basis: 120px;
                font-weight: bolder;
                width: 120px;
                display: inline-block;
                text-align: right;
                margin-left: -120px;
              }
              span.content {
                flex: 1 1 auto;
                &.fulltext {
                  @include text-line(2, 23px);
                }
              }
              &:last-child {
                margin: 0;
              }
              a {
                color: #c33c00;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    // 詳細區塊
    .detailed_group {
      // 按鈕選項
      .buttonoptions {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.5em;
        align-items: center;
        .backbtn {
          margin-right: 0.5em;
          a {
            display: block;
            padding: 0.3em 1.25em 0.3em 2em;
            color: #fff;
            background-color: $primaryColor;
            border-radius: 0.2em;
            position: relative;
            &:before {
              content: '';
              border: 2px solid #fff;
              width: 8px;
              height: 8px;
              border-right: none;
              border-bottom: none;
              position: absolute;
              left: 15px;
              top: 12px;
              transform: rotate(-45deg);
              transition: 0.5s;
            }
            &:hover {
              background-color: darken($color: $primaryColor, $amount: 10);
              &:before {
                left: 12px;
              }
            }
          }
        }
        .btnlist {
          margin: 0;
          padding: 0;
          list-style-type: none;
          display: flex;
          li {
            margin-right: 0.5em;
            a {
              display: block;
              padding: 0.3em 1.25em;
              color: #fff;
              background-color: $color-gray;
              border-radius: 0.2em;
              position: relative;
              transition: 0.5s;
              &:hover {
                background-color: darken($color: $color-gray, $amount: 10);
              }
            }
            &.active {
              a {
                background-color: $primaryColor;
                &:hover {
                  background-color: darken($color: $primaryColor, $amount: 10);
                }
              }
            }
          }
        }
        .flex-form {
          width: 100%;
          background-color: $primaryColor;
          padding: 0.3em 1em;
          margin: 0;

          .form_grp {
            .form_title {
              align-self: center;
              color: #fff;
            }
          }
          select {
            border: 1px solid #ddd;
          }
        }
      }
      // 詳細資料
      .detailed_information {
        .fullmark_outdiv {
          padding: 1em;
          border: 1px solid #ddd;
          margin-bottom: 1em;
          position: relative;

          &:hover {
            background-color: #f7f7f5;
          }
          .fullmark_ab {
            line-height: 1.7;
            margin-bottom: 1em;
            .dispbrfont {
              font-weight: bolder;
              padding: 0.2em 0;
              display: inline-block;
            }
            .smallabs1 {
              font-size: 0.938rem;
              color: $color-red;
            }
          }
          .fullmark_title {
            font-weight: bolder;
            margin: 0.5em 0;
            font-size: 1.125rem;
            color: $primaryColor;
          }
          .browseimg {
            position: absolute;
            right: 0;
            top: 0;
            a {
              display: block;
              padding: 5px 10px 5px 30px;
              background-color: $secondaryColor;
              color: #fff;
              background-image: url('../images/icon/icon_photo2.svg');
              background-repeat: no-repeat;
              background-position: 10px center;
              background-size: 12px;
            }
          }
          .table_list {
            margin-bottom: 1em;
            table {
              tr:nth-child(even) {
                background-color: #fff;
              }
              tr:hover {
                background-color: #fff;
              }
              th {
                background-color: #ddd;
                color: #000;
                // padding: 0.3em 0.5em 0.3em;
              }
              td {
                text-align: left;
                vertical-align: top;
                // padding: 0.3em 0.5em 0.3em;
                &.num {
                  text-align: center;
                }
                .theme {
                  border: 1px solid #999;
                  padding: 1px 3px;
                  margin-left: 0.5em;
                }
                .article {
                  position: relative;
                  overflow: hidden;
                  margin: 10px auto;
                  padding: 1em;
                  line-height: 1.5;
                  background: #eee;
                  color: #333;
                  border-radius: 5px;
                  overflow: hidden;
                  .contenttext {
                    p {
                      padding: 0;
                      margin: 0 0 0.5em;
                      transition: 0.5s;
                    }
                  }
                  &.close {
                    .contenttext {
                      p {
                        @include text-line(2, 23px);
                      }
                    }

                    .collapsebtn {
                      a {
                        &:before {
                          content: '';
                          border: 2px solid #fff;
                          border-left: none;
                          border-bottom: none;
                          width: 6px;
                          height: 6px;
                          position: absolute;
                          left: 10px;
                          top: 7px;
                          transform: rotate(135deg);
                        }
                      }
                    }
                  }
                  .collapsebtn {
                    display: flex;
                    justify-content: flex-end;
                    display: none;
                    a {
                      display: block;
                      background-color: $primaryColor;
                      color: #fff;
                      padding: 0.1em 0.5em 0.1em 2em;
                      font-size: 0.938em;
                      border-radius: 0.2em;
                      position: relative;
                      &:hover {
                        text-decoration: none;
                      }
                      &:before {
                        content: '';
                        border: 2px solid #fff;
                        border-left: none;
                        border-bottom: none;
                        width: 6px;
                        height: 6px;
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        transform: rotate(-45deg);
                      }
                    }
                  }
                }
              }
            }
          }

          .numpages {
            display: flex;
            justify-content: flex-end;
            span {
              padding: 0.2em 1em;
              background-color: #b9b7ab;
              color: #fff;
            }
          }
        }
        // 中間頁數省略
        .pages_omitted {
          text-align: center;
          margin: 0 0 1em;
        }
        // 上下頁
        .pagebutton {
          display: flex;
          justify-content: center;
          @media (max-width: 480px) {
            flex-wrap: wrap;
          }
          button {
            margin: 0 1em;
            @media (max-width: 480px) {
              flex: 0 0 auto;
              // flex-basis: 100%;
              margin: 0 1em 0.5em;
            }
          }

          .prebtn {
            padding: 0.2em 1.25em 0.3em 2em;
            position: relative;
            &:before {
              content: '';
              border: 2px solid #fff;
              width: 8px;
              height: 8px;
              border-right: none;
              border-bottom: none;
              position: absolute;
              left: 15px;
              top: 10px;
              transform: rotate(-45deg);
              transition: 0.5s;
            }
            &:hover {
              &:before {
                left: 12px;
              }
            }
          }
          .nextbtn {
            padding: 0.2em 2em 0.3em 1.25em;
            position: relative;
            &:before {
              content: '';
              border: 2px solid #fff;
              width: 8px;
              height: 8px;
              border-left: none;
              border-bottom: none;
              position: absolute;
              right: 15px;
              top: 10px;
              transform: rotate(45deg);
              transition: 0.5s;
            }
            &:hover {
              &:before {
                right: 12px;
              }
            }
          }
        }
      }
    }
    // 卷期名稱
    .issuename_block {
      padding: 0.8em 1em;
      color: #fff;
      background-color: $primaryColor;
      margin-bottom: 0.5em;
      font-size: 1.125em;
    }
  }
}
// 類型查詢
.typesearch {
  background-color: lighten($color: $linkColor, $amount: 15);
  padding: 0.1em 1em;
  margin: 0 0 1em;
  .flex-form {
    &.form_inline {
      border-bottom: none;
    }
    .form_grp {
      .form_title {
        align-self: center;
      }
    }
    .btn_grp {
      .btn-primary {
        padding: 0.3em 1em;
        margin: 0.4em 0 0;
      }
    }
    @include screen('mobile') {
      .form_grp {
        flex-wrap: nowrap;
        flex-basis: 100%;
        .form_title {
          flex: 0 0 auto;
          flex-basis: 100px;
          max-width: 100px !important;
        }
        .form_content {
          select {
            width: 97%;
          }
        }
      }
      @include screen('xs_mobile') {
        .form_grp {
          flex-wrap: wrap;
          margin-right: 0;
        }
      }
      .btn_grp {
        flex-basis: 100%;
      }
    }
  }
}
